<head>

</head>
<body style="text-align: center;">
<div class="jumbotron" style="margin-bottom: 0%; margin-top: 0%;">
	<h1>Create an article</h1>
</div>

<% if @article.errors.any? %>
<div class="alert alert-danger" role="alert">
<h2>The following errors prevented the article from getting created.</h2>
<ul>
	<% @article.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>
</div>
<% end %>


<div class="formContainer" style="background-color: lightgrey; width: 25%; margin-left: auto; margin-right: auto; padding-bottom: 1%">
<%= form_for @article do |f| %>
	<p>
		<%= f.label :title %>  <br />
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %>  <br />
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<%end %>
</div>

</body>