<h1 align="center">Users</h1>
<div align="center">
	<%= will_paginate %>
</div>
<% @users.each do |user| %>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="well well-sm">
				<div class="user-img">
					<%= gravatar_for user, size: 150 %>
				</div>
				<div class="user-title">
					<%= link_to user.username,  user_path(user) %> <br />
					<%= pluralize(user.articles.count, "article") if user.articles.count > 0 %><br />
					<% if logged_in? && current_user.admin? %>
						<%= link_to "Delete this user", user_path(user), method: :delete,
						        data: {confirm: "Are you sure you want to delete #{user.username}'s profile and articles?"} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
<div align="center">
	<%= will_paginate %>
</div>